.main-menu {
  display: flex;
  transform: rotate(-30deg) translateY(-150px) translateX(130px);

  &_left,
  &_center,
  &_right {
    display: flex;
    flex-direction: column;
  }

  &_left {
    align-items: end;
  }

  &_right {
    justify-content: end;
  }
}

.showed-main-menu-block {
  animation: showMainMenuBlock 1s forwards;
}

.hidden-main-manu-block {
  opacity: 0;
}

@keyframes showMainMenuBlock {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
