.info-menu {
  position: absolute;
  right: 0;
  top: 0;
  width: 750px;
  height: 100vh;
  background-color: #1b203f;
  padding: 30px 15px 30px 30px;
  transition: 0.3s;

  &--hidden {
    transform: translateX(110%);
  }

  &--showed {
    transform: translateX(0);
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;

    .title {
      position: relative;
      font-size: 33px;

      &::after {
        content: "";
        position: absolute;
        width: 200px;
        height: 1px;
        top: 40%;
        right: -230px;
        background-color: rgba(#fff, 0.5);
      }
    }

    .close {
      width: 23px;
      height: 23px;
      cursor: pointer;
      margin-right: 20px;
    }
  }

  &__content {
    overflow-y: scroll;
    height: calc(100vh - 120px);
    padding-right: 15px;

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(255, 255, 255, 0.8);
      border-radius: 20px;
    }
  }
}
