.wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;

  .hidden-typewriter {
    animation: hidePageLoad 1s forwards;
  }

  .page-load {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 3;

    .blured-bg {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #131625;
    }

    .typewriter-wrapper {
      font-size: 40px;
    }

    .Typewriter {
      z-index: 1;

      .Typewriter__cursor {
        font-size: 40px;
      }
    }
  }

  .body-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(#273248, 0.2), #131625);
  }

  .bg-info-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    backdrop-filter: blur(2px);
  }
}

@keyframes hidePageLoad {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
