.resume {
  display: flex;

  &__subtitle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px 3px 10px;
    font-size: 23px;
    background-color: #828BC4;
    margin-bottom: 20px;
  }

  &__skills {
    min-width: 230px;
    border-right: 1px solid rgba(#fff, 0.2);
    padding-right: 12px;
  }

  &__exp {
    padding-left: 24px;
  }

  .skills {
    margin-bottom: 40px;

    h4 {
      font-size: 23px;
      margin-bottom: 5px;
    }

    span {
      font-size: 18px;
    }

    .mini-block {
      margin-bottom: 22px;
    }

    .soft {
      display: flex;
      flex-direction: column;

      span {
        margin-bottom: 7px;
      }
    }
  }

  .exp-single {
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin-bottom: 20px;

    &:last-child {
      padding-bottom: 0;
      border-bottom: none;
    }

    h4 {
      font-size: 27px;
      margin-bottom: 5px;
    }

    h5 {
      font-size: 23px;
      margin-bottom: 5px;
    }

    .title-gap {
      display: flex;
      align-items: center;
    }

    .gap {
      font-size: 18px;
      color: #a3b7ee;
      margin-bottom: 15px;
    }

    .duties {
      padding-left: 20px;
      font-size: 19px;
      margin-bottom: 16px;

      .duty {
        margin-bottom: 10px;
      }
    }

    .achievements {
      h5 {
        font-size: 23px;
      }

      .achievement {
        margin-bottom: 7px;
        margin-left: 15px;
        font-size: 19px;
      }
    }
  }
}
