.menu-block {
  border: 1px solid rgba(rgb(109, 109, 109), 1);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: 0.2s;
  backdrop-filter: blur(3px);
  cursor: pointer;

  &:hover {
    box-shadow: inset 0 0 30px 50px #111124;
    z-index: 2;

    .menu-block {
      &__title {
        transform: rotate(30deg) scale(1.2);
      }

      &__title-dot {
        color: #ff5858;
        transition: 0.2s;
      }

      &__title-brackets {
        color: #f3bd3e;
        transition: 0.2s;
      }
    }
  }

  &_small {
    width: 200px;
    height: 200px;
  }

  &_medium {
    width: 290px;
    height: 290px;
  }

  &_large {
    width: 480px;
    height: 480px;
  }

  &__title {
    font-family: "Roboto Mono", monospace;
    font-size: 25px;
    color: #fff;
    transform: rotate(30deg);
    transition: 0.2s;
  }

  &__title-line {
    opacity: 0;
  }

  .hidden-line {
    visibility: hidden;
  }
}

.transform-center-first {
  transform: translateX(-1px);
}

.transform-center-second {
  transform: translateY(-1px) translateX(-1px);
}

.transform-left-second {
  transform: translateY(-1px);
}

.transform-center-third {
  transform: translateY(-2px) translateX(-1px);
}

.transform-right-first {
  margin-bottom: 150px;
  transform: translateX(-2px);
}

.no-hover {
  &:hover {
    box-shadow: none;
    z-index: auto;
    cursor: auto;
  }
}
