@import '../../assets/scss/vars';

.menu-block {
  border: 1px solid rgba(rgb(109, 109, 109), 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: 0.2s;
  backdrop-filter: blur(3px);
  cursor: pointer;
  transform: translateZ(10px);

  &:hover {
    box-shadow: inset 0 0 30px 50px #111124;
    transform: translateZ(10px);

    .menu-block {
      &__title {
        transform: rotate(30deg) scale(1.2);
      }

      &__title-dot {
        color: #ff5858;
        transition: 0.2s;
      }

      &__title-brackets {
        color: #f3bd3e;
        transition: 0.2s;
      }
    }
  }

  &_medium {
    width: 290px;
    height: 290px;

    @media (max-width: $laptop-small) {
      width: 200px;
      height: 200px;
    }

    @media (max-width: $tablet) {
      width: 120px;
      height: 120px;
    }
  }

  &_large {
    width: 480px;
    height: 480px;

    @media (max-width: $laptop-small) {
      width: 400px;
      height: 400px;
    }

    @media (max-width: $tablet) {
      width: 280px;
      height: 280px;
    }
  }

  &__title {
    font-family: 'Roboto Mono', monospace;
    font-size: 25px;
    color: #fff;
    transform: rotate(30deg);
    transition: 0.2s;

    @media (max-width: $laptop-small) {
      font-size: 19px;
    }

    @media (max-width: $tablet) {
      font-size: 12px;
    }
  }

  &__title-line {
    opacity: 0;
  }

  .hidden-line {
    visibility: hidden;
  }
}

.transform-center-first {
  transform: translateX(-1px);

  @media (max-width: $tablet) {
    transform: translateY(-1px) translateX(-1px);
  }
}

.transform-center-second {
  transform: translateY(-1px) translateX(-1px);

  @media (max-width: $tablet) {
    transform: translateY(-1px) translateX(0);
  }
}

.transform-left-second {
  transform: translateY(-1px);
}

.transform-center-third {
  position: relative;
  transform: translateY(-2px) translateX(-1px);

  @media (max-width: $laptop-small) {
    transform: translateY(-1px);
    top: -200px;
    left: -200px;
  }

  @media (max-width: $tablet) {
    transform: translateY(-2px) translateX(0);
    top: 120px;
    left: 120px;
  }
}

.menu-block_additional {
  @media (max-width: $laptop-small) {
    transform: translateY(-1px);
    top: 200px;
    z-index: 1;
  }

  @media (max-width: $tablet) {
    transform: translateY(-2px) translateX(1px);
    right: 280px;
    top: 120px;
  }
}

.transform-right-first {
  margin-bottom: 150px;
  transform: translateX(-2px);
}

.no-hover {
  &:hover {
    box-shadow: none;
    z-index: auto;
    cursor: auto;
  }
}
