@import '../../assets/scss/vars';

.project-example {
  position: relative;
  align-items: center;
  background: linear-gradient(180deg, rgba(61, 63, 73, 0.5), #000);
  border: 1px solid #3e3e3e;
  border-radius: 20px;
  display: flex;
  padding: 20px;
  margin-bottom: 25px;

  &:last-child {
    border-bottom: none;
    margin-bottom: 0;
  }

  &__image {
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    left: 20px;
    height: 100%;
    padding: 20px 0;
    overflow: hidden;

    img {
      max-width: 420px;
      height: 100%;
      object-fit: cover;

      @media (max-width: $tablet) {
        max-width: 260px;
      }

      @media (max-width: $mobile-medium) {
        max-width: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    @media (max-width: $mobile-medium) {
      left: 0 !important;
      right: 0 !important;
      padding: 20px;
      height: 50%;
      margin-top: 40px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    position: relative;
    max-width: 50%;
    height: 260px;
    margin-left: auto;
    z-index: 1;

    @media (max-width: $mobile-medium) {
      max-width: 100% !important;
      width: 100%;
      margin: 0;
    }

    .title {
      font-size: 25px;
    }

    .about {
      width: 350px;
      padding: 20px;
      background-color: rgba(#161827, 0.9);
      font-size: 18px;
      text-align: left;
      word-wrap: break-word;
      margin-bottom: 15px;
      border-radius: 5px;
      box-shadow: 0 10px 30px 0 rgba(#fff, 0.2);

      @media (max-width: $mobile-medium) {
        display: none;
      }
    }

    .links {
      display: flex;

      @media (max-width: $mobile-medium) {
        width: 100%;
        justify-content: center;
      }
    }

    .techs {
      display: flex;
      margin-bottom: 15px;

      @media (max-width: $mobile-medium) {
        width: 100%;
        margin-top: auto;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
      }

      .tech-circle {
        margin: 0 15px 0 0;

        &:last-child {
          margin: 0;
        }

        .main,
        .tech-circle__bg {
          width: 40px;
          height: 40px;
        }
      }
    }

    .link-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 97px;
      color: #fff;
      padding: 3px 14px;
      border-radius: 20px;
      background-color: #6169a6;
      transition: 0.3s;

      &:hover {
        background-color: #838bc4;
        box-shadow: 0 0 7px #838bc4;
        transform: scale(1.1);
      }

      &:first-child {
        img {
          width: 22px;
        }
      }

      img {
        width: 17px;
        margin-right: 7px;
      }

      span {
        padding-top: 6px;
        font-size: 17px;
      }

      &:first-child {
        margin-right: 13px;
      }
    }
  }

  &--reversed {
    .project-example {
      &__info {
        align-items: start;
        margin-left: 0;
        margin-right: auto;
      }

      &__image {
        left: auto;
        right: 20px;
      }
    }
  }
}
