.project-example {
  position: relative;
  display: flex;
  align-items: center;
  background: linear-gradient(180deg, rgba(61, 63, 73, 0.5), #000);
  border: 1px solid #3e3e3e;
  border-radius: 20px;
  display: flex;
  align-items: center;
  position: relative;
  padding: 20px;
  margin-bottom: 25px;

  &:last-child {
    border-bottom: none;
    margin-bottom: 0;
  }

  &__image {
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    left: 20px;
    height: 100%;
    padding: 20px 0;
    overflow: hidden;

    img {
      max-width: 420px;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    position: relative;
    max-width: 50%;
    height: 260px;
    margin-left: auto;
    z-index: 1;

    .title {
      font-size: 25px;
    }

    .about {
      width: 350px;
      padding: 20px;
      background-color: rgba(#161827, 0.9);
      font-size: 18px;
      text-align: left;
      word-wrap: break-word;
      margin-bottom: 10px;
      border-radius: 5px;
      box-shadow: 0 10px 30px 0 rgba(#fff, 0.2);
    }

    .links {
      display: flex;
    }

    .techs {
      margin-bottom: 8px;
    }

    .link-btn {
      display: flex;
      align-items: center;
      color: #fff;
      padding: 3px 14px;
      border-radius: 20px;
      background-color: #6169a6;
      transition: 0.3s;

      &:hover {
        background-color: #838bc4;
        box-shadow: 0 0 7px #838bc4;
        transform: scale(1.1);
      }

      &:first-child {
        img {
          width: 22px;
        }
      }

      img {
        width: 17px;
        margin-right: 7px;
      }

      span {
        padding-top: 6px;
        font-size: 17px;
      }

      &:first-child {
        margin-right: 13px;
      }
    }
  }

  .techs {
    display: flex;
  }

  &--reversed {
    .project-example {
      &__info {
        align-items: start;
        margin-left: 0;
        margin-right: auto;
      }

      &__image {
        left: auto;
        right: 20px;
      }
    }
  }
}
