.project-example {
  position: relative;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding-bottom: 20px;
  margin-bottom: 25px;

  &:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 65%;
    height: 100%;
    overflow: hidden;
    padding: 20px 0;

    img {
      height: 100%;
      object-fit: contain;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    position: relative;
    max-width: 50%;
    height: 260px;
    margin-left: auto;
    z-index: 1;

    .title {
      font-size: 25px;
    }

    .about {
      width: 350px;
      padding: 20px;
      background-color: rgba(9, 13, 41, 0.9);
      font-size: 18px;
      text-align: left;
      word-wrap: break-word;
      margin-bottom: 10px;
      box-shadow: 0 0 20px #090d29;
    }

    .links {
      display: flex;
    }

    .techs {
      margin-bottom: 8px;
    }

    .link-btn {
      display: flex;
      align-items: center;
      color: #fff;
      padding: 3px 14px;
      border-radius: 20px;
      background-color: #5360a8;
      transition: 0.2s;

      &:hover {
        background-color: #838bc4;
        box-shadow: 0 0 7px #838bc4;
      }

      &:first-child {
        img {
          width: 22px;
        }
      }

      img {
        width: 17px;
        margin-right: 7px;
      }

      span {
        padding-top: 6px;
        font-size: 17px;
      }

      &:first-child {
        margin-right: 13px;
      }
    }
  }

  .techs {
    display: flex;
  }

  &--reversed {
    .project-example {
      &__info {
        align-items: start;
        margin-left: 0;
        margin-right: auto;
      }

      &__image {
        left: auto;
        right: 0;
      }
    }
  }
}
