@import '../../assets/scss/vars';

.tech-circle {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    position: relative;
    width: 50%;
    height: 50%;
    z-index: 2;
  }

  .main {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    margin-bottom: 8px;
    background: #fff;
    box-shadow: 0 0 9px 1px #fff;

    @media (max-width: $tablet) {
      width: 50px;
      height: 50px;
    }
  }

  &__bg {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 0;
    left: 0;
    z-index: 1;
    border-radius: 50%;
    opacity: 0.2;

    @media (max-width: $tablet) {
      width: 50px;
      height: 50px;
    }
  }

  .tech-title {
    display: flex;
    justify-content: center;
    font-size: 17px;
    color: #fff;
    font-weight: bold;

    @media (max-width: $tablet) {
      font-size: 15px;
    }
  }

  &--small {
    width: 35px;
    height: 35px;
    margin-right: 17px;

    &:last-child {
      margin-right: 0;
    }
  }
}
