@import '../../assets/scss/vars';

.contacts {
  .info {
    font-family: 'Calibre-light', sans-serif;
    font-size: 23px;
    margin-bottom: 50px;
    color: rgba(255, 255, 255, 0.9);
  }

  .content {
    display: flex;

    .form-wrapper {
      width: 50%;
      position: relative;
    }
  }

  .image {
    width: 50%;

    @media (max-width: $tablet) {
      display: none;
    }
  }

  .form {
    width: 50%;
    margin-right: 20px;
    margin-left: 5px;

    @media (max-width: $tablet) {
      width: 100%;
      margin: 0;
    }

    &__title {
      font-size: 20px;
      margin-bottom: 5px;
    }
  }
}
