.about-me {
  font-size: 23px;
  margin-bottom: 20px;
  font-family: "Calibre-light", sans-serif;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.9);

  h3 {
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 20px;
  }

  &__techs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-row-gap: 50px;
    margin-left: 7px;
  }

  .text {
    margin-bottom: 30px;
  }

  .text-block {
    display: block;
    margin-bottom: 12px;
  }
}
