.about-me {
  font-size: 25px;
  margin-bottom: 20px;
  font-family: "Calibre-light", sans-serif;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.8);

  h3 {
    font-size: 25px;
    font-weight: bold;
    color: #fff;
  }
}
